$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;
$project-font: "Poppins", sans-serif;
$table-label: #a9b1bd;
$table-border: #f3f5fa;
$table-head-bg: rgba(229, 234, 244, 0.25);
$table-cell: #a9b1bd;
$favorite: #11b0c8;
$light: #ffffff;
$move-pagination-disabled: #a9b1bd;
